@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


body {
  margin: 0%;
  font-family: 'Inter', sans-serif;
  font-family: 'Lexend Deca', sans-serif;
  background-color:  hsl(233, 47%, 7%);
}

.flex-container {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-card {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 90%;
  max-height: 100%;
  border-radius: 12px;
  background-color: hsl(244, 38%, 16%);
}

.img-card {
  display: flex;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 12px 12px 0px 0px;
  filter: opacity(0.4) drop-shadow(0 0 0 #aa5cdb); 
}

.text-card {
  margin: 4%;
  display: flex;
  flex-direction: column;
}

.text-card h1 {
  margin: 2%;
  font-weight: 700;
  font-size:  1.4rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-family: 'Inter', sans-serif;
}

.text p { 
  margin: 2%;
  font-weight: 400;
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
}

.text {
  display: flex;
  font-size: 0.7rem;
}

.letter {
  color:  hsl(277, 64%, 61%);
}

.stats {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stat-headings {
  margin: 6%;
  flex-direction: column;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
}

.stat-headings p {
  margin: 0%;
  font-weight: 700;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

.stat-headings h2 {
  margin: 0px;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
}

.attribution {
  position: fixed;
  margin: 1%;
  bottom: 0;
  right: 0;
  font-size: 0.5rem;
  font-weight: 500;
  color: white;
  text-align: right; 
}

.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%); 
}

@media (min-width: 650px) {
  .main-card {
    display: flex;
    flex-direction: row-reverse;
  }

  .img-card {
    width: 50%;
  }

  img {
    border-radius: 0px 12px 12px 0px;
  }

  .text-card {
    width: 50%;
    justify-content: space-between;
  }

  .text p {
    font-size: 1.1rem;
    text-align: left;
  }

  .text-card h1 {
    font-size: 1.6rem;
    text-align: left;
  }

  .stats {
    flex-direction: row;
    justify-content: space-between;
  }

  .stat-headings {
    text-align: left;
  }

  .attribution {
    font-size: 1rem;
  }
}

